name: Use Case - TT02

on:
  workflow_dispatch:
  schedule:
    - cron: '*/15 * * * *'

jobs:
  test:
    environment: TT02
    runs-on: ubuntu-latest
    permissions:
      contents: read
    env: # Shared environment vars for all k6 test scripts
      altinn_env: TT02
      partyId: ${{ secrets.PARTYID }}
      pid: ${{ secrets.PID }}
      tokenGeneratorUserName: ${{ secrets.TOKENGENERATOR_USERNAME }}
      tokenGeneratorUserPwd: ${{ secrets.TOKENGENERATOR_USERPASSWORD }}
      userID: ${{ secrets.USERID }}
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Set up K6
        uses: grafana/setup-k6-action@ffe7d7290dfa715e48c2ccc924d068444c94bde2 # v1.1.0
      - name: Run favorites use case tests
        uses: grafana/run-k6-action@a15e2072ede004e8d46141e33d7f7dad8ad08d9d # v1.3.1
        with:
          path: test/k6/src/tests/favorites.js
          flags: -e partyUuid=${{ secrets.PARTYUUID }}
      - name: Run notification settings use case tests
        uses: grafana/run-k6-action@a15e2072ede004e8d46141e33d7f7dad8ad08d9d # v1.3.1
        with:
          path: test/k6/src/tests/notification-settings.js
          flags: -e partyUuid=${{ secrets.PARTYUUID }}
      - name: Run org notification addresses use case tests
        uses: grafana/run-k6-action@a15e2072ede004e8d46141e33d7f7dad8ad08d9d # v1.3.1
        with:
          path: test/k6/src/tests/org-notification-addresses.js
          flags: -e orgNo=${{ secrets.ORGNO }}

  slack-notify:
    if: failure()
    needs: test
    uses: ./.github/workflows/send-slack-warning.yml
    permissions: {}
    with:
      warning-message: 'Profile use case test failure in TT02'
    secrets:
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL_PROD }}
